SERVER_URL=http://localhost:4000

POSTGRES_USER=registar
POSTGRES_PASSWORD=registar_dev
POSTGRES_DB=registar
DATABASE_URL=postgresql://registar:registar_dev@db:5432/registar

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

JWT_SECRET=change_me_in_production

CLIENT_URL=http://localhost:3000
SERVER_PORT=4000
